.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 200px;
  background: #23263a;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #2f3245;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  border: 1px solid #ff4a57;
  transform: translateY(-10px);
}